.ui-widget.ui-widget-content.batchedit-tooltip {
    padding: 2px 8px 2px 8px;
    font-size: 90%;
    box-shadow: 0 0 0.5em #999;
}

#batchedit table {
    width: 100%;
    border: 0;
}

#batchedit table td {
    border: 0;
}

#batchedit div#messages {
    margin-bottom: 0.5em;
}

#batchedit .actions {
    position: absolute;
    top: 0;
    right: 0;
    height: 24px;
}

#batchedit .action svg {
    width: 24px;
    height: 24px;
    margin-left: 4px;
    fill: #ccc;
}

#batchedit .action svg:hover {
    fill: #2b73b7;
}

#batchedit div.file {
    position: relative;
    padding-left: 0.5em;
    margin-bottom: 1.5em;
}

#batchedit div.file div.stats {
    font-size: 120%;
	font-weight: bold;
    margin-bottom: 1em;
}

#batchedit div.match {
    padding: 0.3em;
    margin-bottom: 0.5em;
}

#batchedit div.match label {
    font-weight: bold;
}

#batchedit div.match table {
    margin: 0.3em 0 0 0;
}

#batchedit div.match table td.text {
    font-family: "Courier New", monospace;
    font-size: 8pt;
    text-align: left;
    white-space: pre-wrap;
    width: 49%;
    padding: 0.3em;
}

#batchedit div.match table td.arrow {
    position: relative;
    width: 2%;
}

#batchedit div.match table td.arrow svg {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left:-3px;
    margin-top:-20px;
    width: 8px;
    height: 40px;
}

#batchedit div.match table span.applied {
    background-color: #6f9;
}

#batchedit div#mainform {
    margin-top: 1em;
}

#batchedit div#mainform table td.title {
    width: 5%;
    padding-right: 1em;
}

#batchedit div#mainform table td.edit {
    width: 60%;
}

#batchedit div#mainform input.edit {
    font-family: "Courier New", monospace;
    font-size: 10pt;
    width: 100%;
}
