/* plugin:batchedit */

#batchedit div.file {
    background-color: __background_alt__;
    border: 1px dashed __border__;
}

#batchedit div.file table td.text {
    border: 1px dashed __border__;
}

/* /plugin:batchedit */
