/* plugin:batchedit */

#batchedit div.file {
    border-left: 1px solid __border__;
}

#batchedit div.match {
    background-color: __background_alt__;
}

#batchedit div.match table td.text {
    border: 1px dashed __border__;
}

/* /plugin:batchedit */
