/* plugin:batchedit */

.ui-widget.ui-widget-content.batchedit-tooltip {
    background-color: __background__;
    border-left: 1px solid __border__;
    color: __text__;
}

#batchedit div.file {
    border-left: 1px solid __border__;
}

#batchedit div.match {
    background-color: __background_alt__;
}

#batchedit div.match table td.text {
    border: 1px dashed __border__;
}

/* /plugin:batchedit */
